#slideshow-main {
	width:545px; 
	float:left; 
	margin-right:3px;
}

#slideshow-main ul {
	margin:0; 
	padding:0; 
	width:545px;
}

#slideshow-main li {
	width:545px; 
	height:343px; 
	display:none;
	position:relative;
}

#slideshow-main li.active {
	display:block !important;
}

#slideshow-main li span.opacity {
	position:absolute;
	bottom:0; 
	right:0;
	display:none; 
	width:100%;
	height:60px;
	background:#000;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5;
	z-index:500;
}

#slideshow-main li span.content {
	position:relative;
	bottom:	0;
	right:0;
	width:100%;
	display:block; 
	/*
	height:60px;*/
	z-index:1000;
}

#slideshow-main li span.content h1 {
	font-size:20px;
	margin:0;
	color:#000000;
	font-family: Helvetica, Arial, sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
	font-weight: 400;
	text-transform: uppercase;
	background: #f16927;
	display: inline;
	padding: 5px 24px 2px;
	
	position:absolute;
	bottom:135px;
	right:0px;
		
}

#slideshow-main li span.content p {
	font-size:16px;
	margin:0;
	color:#ffffff;
	background: #393939;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	/*padding: 5px 24px 6px;*/
	padding: 0px;
	display: inline;
	position:absolute;
	bottom:100px;
	right:0;
		
}

#slideshow-carousel {
	float:left; 
	width:150px;
	position:relative;
}

#slideshow-carousel ul {
	margin:0; 
	padding:0;
	list-style:none;
}

#slideshow-carousel li {
	background:#fff; 
	height:129px; 
	position:relative;
}

#slideshow-carousel li .arrow {
	left:0px; 
	top:42px; 
	position:absolute; 
	width:20px; 
	height:40px; 
	background:url(images/arrow_white.png) no-repeat 0 0; 
	display:block;
}

#slideshow-carousel li a {
	background:#000; 
	display:block; 
	width:154px; 
	height:127px;
}


#slideshow-carousel .active {
	filter:alpha(opacity=100); 
	-moz-opacity:1.0; 
	-khtml-opacity: 1.0; 
	opacity: 1.0;
}

#slideshow-carousel .faded {
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5;
}

#slideshow-main li a {
	text-decoration: none;
}

/* from skin.css */

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 154px;
    height: 309px;
    padding: 0;
}


.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  154px;
    height: 258px;
				
				margin-top: 42px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 154px;
    height: 127px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 0px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}



/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 9px;
    left: 0px;
    width: 154px;
    height: 40px;
    cursor: pointer;
    background: transparent url(../images/next-vertical.png) no-repeat 0 0;
}


.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -40px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -80px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -120px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: -42px;
    left: 0px;
    width: 154px;
    height: 40px;
    cursor: pointer;
    background: transparent url(../images/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -40px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -80px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -120px;
}