@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Gotham-Thin';
    src: url('Gotham-Thin.otf');
    font-weight: normal;
    font-style: normal;

}