.wrapper-aboutUs, #carousels {
	width: 1000px;
	background: #A6A6A6;
	padding: 40px 0;
}
.no-bgd {
	background: none;
}
#carousels {
	margin-top: 40px;
	position: relative;
}
/* custom Scrollbars */
.content-aboutUs {
	margin: 0 auto;
	width: 96%;
	height: 260px;
	padding: 20px;
	overflow: auto;
	background: #EAEAEA;
	color: #747474;
	font-size: 13px;
}
div.cloned {
	background-color: #ffc !important;
}
.disabled {
	visibility: hidden;
}
/**/
/* minimal settings */
.scrollable {
	margin-left: 42px;
	/* required settings for the root element */
	position: relative;
	overflow: hidden;
	width: 836px;
	/* configurable styling */
	/*border:1px solid #ccc;*/
	background: #0d0d0c;
	padding: 20px 0;
	height: 206px;
	border-left: 56px solid #0d0d0c;
	border-right: 16px solid #0d0d0c;
}
.scrollable .items {
	margin-left: 0;
	position: relative;
	width: 20000em;
}
.scrollable .items div {
	text-align: center;
	width: 232px;
	/*padding:25px 0px;*/
	font-size: 30px;
	font-family: 'bitstream vera sans';
	/*border:1px outset #ccc;
	background-color: #efefef;*/
	margin-right: 47px;
	float: left;/*-moz-border-radius:5px;
	border-radius:5px;*/
}
.scrollable .items div img {
	width: 232px;
	height: 200px;
}
.navi {
	height: 30px;
	margin-top: 20px;
	margin-left: 454px;
}
.navi a {
	width: 20px;
	height: 20px;
	background-color: #747474;
	display: block;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
}
.navi a.active {
	background-color: #ED780B;
}
/* Image Gallery */
#gallery {
	padding: 0 0 30px;
}
#descriptions {
	position: relative;
	height: 50px;
	background: #EEE;
	margin-top: 10px;
	width: 640px;
	padding: 10px;
	overflow: hidden;
}
#descriptions .ad-image-description {
	position: absolute;
}
#descriptions .ad-image-description .ad-description-title {
	display: block;
}
/**/
#carousels a.prev, #carousels a.next {
	background: url(ad_prevSyn.png);
	width: 54px;
	height: 55px;
	display: block;
	text-indent: -10000px;
	position: absolute;
	top: 35%;
	left: 15px;
	z-index: 101;
}
#carousels a.next {
	background: url(ad_nextSyn.png);
	right: 27px;
	left: auto;
}
/**/
.about-usCTA {
	margin-top: 42px;
	overflow: hidden;
}
#btn-findMoreClasses {
	float: left;
	margin-left: 370px;
}
#btn-findMoreClasses a {
	background: none repeat scroll 0 0 #ED780B;
	border-radius: 2px;
	display: block;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	padding: 12px 0;
	text-align: center;
	text-decoration: none;
	width: 258px;
	color: #ffffff;
	margin: 12px auto;
}
#btn-findMoreClasses span {
	display: block;
	font-size: 24px;
	text-transform: uppercase;
}
.about-usCTA #share-plugins {
	background: #f3f3f3;
	padding: 10px;
	float: right;
	width: 145px;
	height: 62px;
	margin-right: 60px;
}
.about-usCTA #share-plugins #facebook {
	margin-left: 0;
	margin-right: 34px;
}
